.flex-container {
    display: flex;
    justify-content: center;
}

.flex-container>div {
    width: 300px;
    height: 500px;
    margin: 30px;
    text-align: center;
}

.image {
    display: block;
    width: 100%;
    height: 100%;
}

.flip-card {
    width: 100%;
    height: 100%;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    overflow-x: visible;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    color: black;
}

.flip-card-back {
    background-color: rgb(104, 215, 225);
    color: rgb(205, 199, 199);
    transform: rotateY(180deg);
}


/* text */
h2 {
    text-align: center;
}

.inner-text {
    margin: 10px;
    padding: 10px;
    color: white;
    font-size: 20px;
    position: relative;
    top: 35%;
    text-align: center;
}

/* flip card media query*/
@media (max-width: 1000px) {
    .flex-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .flex-container>div {
        width: 250px;
        height: 300px;
    }

    .inner-text{
        padding: 0px;
        margin: 0px;
    }
}
